<div class="container-fluid footer d-flex flex-column">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center mt-1">
                <div class="fs-1 text-light"><i class="bi bi-facebook"></i></div>
                <div class="fs-1 text-light ms-4 me-4"><i class="bi bi-instagram"></i></div>
                <div class="fs-1 text-light"><i class="bi bi-tiktok"></i></div>
            </div>
        </div>
    </div>
    <hr class="text-light mt-1">
    <div class="row">
        <div class="col-12 col-sm-4">
            <ul>
                <p>ACCOUNT</p>
                <li>my account</li>
                <li>sign in</li>
                <li>sign up</li>
            </ul>
        </div>
        <div class="col-12 col-sm-4">
            <ul>
                <p>LAYAL</p>
                <li>about us</li>
                <li>contact us</li>
                <li>our stores</li>
            </ul>
        </div>
        <div class="col-12 col-sm-4">
            <ul>
                <p>MORE</p>
                <li>customer support</li>
                <li>rewards</li>
                <li>refund policy</li>
            </ul>
        </div>
    </div>

    <div class="mt-auto">
        <hr class="text-light mb-1">
        <h6 class="text-light text-center">&copy; Copyright-2024 <a class="text-light" href="layalcosmetics.com">layalcosmetics.com</a></h6>
    </div>

</div>

<div class="whatsapp-icon btn rounded-circle d-md-none">
    <a class="text-light fs-2" href="https://wa.me/96176004425" target="_blank">
        <i class="bi bi-whatsapp"></i>
    </a>
</div>