<div class="mb-0 p-0 alert alert-info alert-dismissible fade show d-flex justify-content-center" role="alert">
    <a href="#" class="alert-link">
        Free shipping on orders over $25!
        <i class="bi bi-box-seam"></i>
    </a>
    <button type="button" class="btn-close p-1 me-1" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<nav class="navbar navbar-expand-md sticky-top bg-purple p-0">
    <div class="container-fluid">

        <button class="navbar-toggler border-0 text-light" type="button"
         data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" aria-expanded="false">
            <i class="bi bi-list text-light fs-1"></i>
        </button>
        <a class="navbar-brand ps-lg-5" role="button" routerLink="/">
            <img style="width: 20vh;height: 10vh;" src="assets/mylogo.svg" alt="Brand Logo" width="100" height="100">
        </a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="mx-auto d-flex w-100 p-0">
                <ul class="navbar-nav d-flex mx-auto mb-0">
                    <li class="nav-item list-items" *ngFor="let category of categories">
                        <a class="nav-link text-light" [routerLink]="['/', 'All', category]" role="button">{{ category }}</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="d-flex me-md-3" role="button">
            <i (click)="navigateToProfile()" class="bi bi-person text-light fs-1 ms-n1"></i>
            <i class="bi bi-cart text-light fs-1" routerLink="/"></i>
        </div>
    </div>
</nav>

<!-- <i class="bi-caret-left-fill position-absolute p-2" (click)="goBack()" role="button"></i> -->

<div
    class="offcanvas offcanvas-start w-65 d-md-none" tabindex="-1" 
    data-bs-scroll="true" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <app-side-bar [categories]="categories" [brands]="brands"></app-side-bar>
</div>