<!-- <div class="hero-section">
    <div class="hero-content">
        <h1>Welcome to Our Store</h1>
        <p>Discover the best products at unbeatable prices.</p>
        <button class="cta-button">Shop Now</button>
    </div>
</div> -->


<div class="d-flex flex-column justify-content-center" style="height: 30vw;">
    <ngx-slick-carousel #slickModel="slick-carousel" [config]="slideConfig">
        <div  class="slide" ngxSlickItem *ngFor="let product of featuredProducts">
            <div class="w-auto mb-0">
                <img 
                role="button" 
                [src]="product.image" 
                class=""
                style="object-fit: contain; max-width:70%;"
                alt="{{ product.name }}"
                (click)="transferProduct(product)"
                [routerLink]="['/product', product._id]">
                <p class="price" style="max-width:15vw; overflow-y: hidden;">{{product.name}}</p>
            </div>
        </div>
    </ngx-slick-carousel>
</div>


<!-- <div class="testimonials-section">
    <h2>What Our Customers Say</h2>
    <app-testimonials></app-testimonials>
  </div> -->

<!-- <button class="back-to-top" (click)="scrollToTop()">↑</button> -->